
.DS_Store

web/package-lock.json
node_modules/*
web/node_modules/*
web/src/environments/*.ts
vendor/*
web/bower_components/*
certs/*
fromPi/*
mockup/*
tmp/*

web/src/environments/environment.ts

config.json

data/Copy of Copy of timeIncrements.xlsx

data/Copy of timeIncrements.xlsx

data/timeIncrements.xlsx

event.go

events.json

web/data.json

web/src/environments/environment.ts
