.agenda-current-meeting {
  background-color: rgb(116, 190, 4);
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-width: 1px;
  opacity: 0.2;
  /*position: absolute;
  left: 72px;
  top: 255px;
  width: 270px;
  height: 108px;
  z-index: 32;*/
}
.bookNowForm {
  color: black;
}

.detail {}

.scheduleContainer {}

.stayOnTop {
  z-index: 9999;
}

.window {
  background-size: 800px 480px;
  background: url("assets/YMountain.png");
  display: block;
  height: 480px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 800px;
}

.bookNow {
  background-size: 800px 480px;
  background: url("assets/YMountain.png");
  display: block;
  height: 480px;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 800px;
  z-index: 9000;
}

.book-now-container {
  background-color: black;
  background-size: 800px 480px;
  color: white;
  display: block;
  height: 75%;
  left: 0px;
  position: fixed;
  top: 15%;
  width: 50%;
  z-index: 9100;
}

.book-now-form {
  color: white;
  font-family: "Roboto";
  font-size: 1.10em;
  margin: 20px;
  position: fixed;
  left:0;
  z-index: 9200;
}

.book-now-form-title {}

.book-now-form-start {}

.book-now-form-end {}

.scheduleEvent {
  background-color: black;
  background-size: 800px 480px;
  color: white;
  display: block;
  height: 90%;
  left: 4%;
  opacity: 0.4;
  position: fixed;
  top: 5%;
  width: 90%;
  z-index: 9999;
}

.cancelEvent {
  background-size: 800px 480px;
  background: url("assets/YMountain.png");
  color: white;
  display: block;
  height: 480px;
  left: 0;
  position: absolute;
  top: 0;
  width: 800px;
  z-index: 9000;
}

.cancelEvent-message {
  background-color: black;
  /*opacity: 0.4;*/
  height: 50%;
  left: 10%;
  position: fixed;
  top: 25%;
  width: 75%;
  z-index: 9100;
}

.cancel-p {
  color: white;
  font-family: "Roboto";
  font-size: .9em;
  margin-top: 5%;
  text-align: center;
}

.cancel-meeting-title {
  color: white;
  font-family: "Roboto";
  font-size: 1.25em;
  margin: 5px auto;
  text-align: center;
}

.cancellation-title {
  color: white;
  font-family: "Roboto";
  font-size: 1.25em;
  left: 0;
  margin-left: 10%;
  margin-top: 12px;
  position: fixed;
  top: 0;
}

.cancellation-back-arrow {
  position: fixed;
  left: 25px;
  top: 0px;
  margin-top: 6px;
  width: 40px;
  height: 40px;
  z-index: 9800;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('./assets/arrow.png')
}


.cancelEvent-no-button {
  align-items: center;
  background-color: rgb(255, 67, 55);
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: white;
  font-family: "Roboto";
  font-size: 1.10em;
  height: 36px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 128px;
}

.cancelEvent-yes-button {
  background-color: rgb(126, 207, 0);
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: white;
  font-family: "Roboto";
  font-size: 1.10em;
  height: 36px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 128px;
}

.schedule {}

.hidden {
  display: none;
}

.active {
  display: block;
}

.buttonBar {
  background-color: rgb(0, 0, 0);
  background: url("assets/buttonBar.png");
  height: 99px;
  left: -45px;
  opacity: 0.4;
  position: absolute;
  top: 405px;
  width: 884px;
  z-index: 7;
}

.scheduleButton {
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 1.10em;
  height: 32.26px;
  left: 442px;
  line-height: 1;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 425px;
  vertical-align: middle;
  width: 138.26px;
  z-index: 23;
}

.button-label {
  margin: 8px auto;
}

.bookNowButton {
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 16px;
  font-weight: bold;
  height: 32.26px;
  left: 75%;
  line-height: 1;
  margin: 0 auto;
  position: fixed;
  text-align: center;
  top: 425px;
  width: 138.26px;
  z-index: 23;
}

.roomTitle {
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 2.75em;
  line-height: 1;
  margin-left: 6%;
  position: fixed;
  text-align: left;
  top: 18%;
  z-index: 10;
}

.availability {
  color: rgb(126, 207, 0);
  font-family: "Roboto";
  font-size: 4em;
  line-height: 1;
  margin-left: 6%;
  margin-top: 5%;
  position: absolute;
  text-align: left;
  top: 24%;
  z-index: 10;
}

.in-use {
  color: rgb(255, 67, 55);
  font-family: "Roboto";
  font-size: 4em;
  line-height: 1;
  margin-left: 6%;
  margin-top: 5%;
  position: absolute;
  text-align: left;
  top: 24%;
  z-index: 10;
}

.currentEventInUse {
  color: rgb(255, 67, 55);
  font-family: "Roboto";
  font-size: 36px;
  left: 44.88px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 120.868px;
  z-index: 10;
}

.currentEventAvailable {
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 36px;
  left: 43.937px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 120.868px;
  z-index: 9;
}

.occupiedBanner {
  background-color: rgb(255, 67, 55);
  height: 99px;
  left: 0px;
  opacity: 0.902;
  position: absolute;
  top: -49px;
  width: 100%;
  z-index: 6;
}

.unoccupiedBanner {
  background-color: rgb(126, 207, 0);
  height: 99px;
  left: 0px;
  opacity: 0.902;
  position: absolute;
  top: -49px;
  width: 100%;
  z-index: 6;
}

.clock {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 4.25em;
  left: 58%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 22%;
  width: 33%;
  z-index: 8;
}

.date {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.45em;
  left: 40%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 37%;
  width: 50%;
  z-index: 8;
}

.book-now-clock {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 4.25em;
  left: 58%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 60%;
  width: 33%;
  z-index: 9200;
}

.book-now-date {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.45em;
  left: 40%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 75%;
  width: 50%;
  z-index: 9200;
}
