.agenda-current-meeting {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  background-color: rgb(116, 190, 4);
  opacity: 0.2;
  /*position: absolute;
  left: 72px;
  top: 255px;
  width: 270px;
  height: 108px;
  z-index: 32;*/

}

.detail
{

}

.scheduleContainer
{

}
.stayOnTop {
  z-index: 9999;
}
.window
{
  display: block;
  background: url("assets/YMountain.png");
  width:800px;
  height:480px;
  background-size: 800px 480px;
  position:fixed;
  top:0px;
  left:0px;
}
.bookNow {
  display: block;
  background: url("assets/YMountain.png");
  width:800px;
  height:480px;
  background-size: 800px 480px;
  position: fixed;
  top:0px;
  left:0px;
  z-index: 9000;
}

.book-now-container
{
  display: block;
  background-color: black;
  width:50%;
  height:75%;
  background-size: 800px 480px;
  position: fixed;
  top:15%;
  left:0px;
  color: white;
  z-index: 9100;
}
.book-now-form {
  position:fixed;
  margin: 20px;
  font-family: "Roboto";
  color:white;
  font-size: 1.10em;

  z-index: 9200;
}

.book-now-form-title
{
}

.book-now-form-start
{
}

.book-now-form-end
{

}

.scheduleEvent {
  display: block;
  background-color: black;
  opacity: 0.4;
  top:5%;
  left:4%;
  width:90%;
  height:90%;
  background-size: 800px 480px;
  position: fixed;
  color: white;
  z-index: 9999;
}

.cancelEvent {
  display: block;
  background: url("assets/YMountain.png");
  width:800px;
  height:480px;
  background-size: 800px 480px;
  position: absolute;
  top:0;
  left:0;

  color: white;
  z-index: 9000;
}
.cancelEvent-message {
  background-color: black;
  /*opacity: 0.4;*/
  position: fixed;
  height:50%;
  width:75%;
  top:25%;
  left:10%;
  z-index: 9100;
}
.cancel-p{
  font-size: .9em;
  font-family: "Roboto";
  color:white;
  text-align: center;
  margin-top: 5%;
}

.cancel-meeting-title
{
  font-size: 1.25em;
  font-family: "Roboto";
  color:white;
  text-align: center;
  margin: 5px auto;
}
.cancellation-title
{
  position: fixed;
  top:0;
  left:0;
  margin-left: 10%;
  margin-top:10px;

  font-size: 1.75em;
  font-family: "Roboto";
  color:white;
}

.cancelEvent-no-button {

  background-color: rgb(255, 67, 55);
  margin: 10px auto;
  align-items: center;
  text-align: center;

  font-size: 1.10em;
  font-family: "Roboto";
  color:white;

  border-width: 1.87px;
  border-color: rgb(254, 254, 254);
  border-style: solid;

  vertical-align: middle;

  width: 128px;
  height: 36px;
  position:relative;
}

.cancelEvent-yes-button {

  background-color: rgb(126, 207, 0);
  margin: 10px auto;
  text-align: center;

  font-size: 1.10em;
  font-family: "Roboto";
  color:white;

  border-width: 1.87px;
  border-color: rgb(254, 254, 254);
  border-style: solid;

  vertical-align: middle;

  width: 128px;
  height: 36px;
  position: relative;
}

.schedule
{

}
.hidden {
  display:none;
}
.active
{
  display:block;
}
.buttonBar {
  background-color: rgb(0, 0, 0);
  background: url("assets/buttonBar.png");
  opacity: 0.4;
  position: absolute;
  left: -45px;
  top: 405px;
  width: 884px;
  height: 99px;
  z-index: 7;
}

.scheduleButton {
  position: fixed;
  left: 442px;
  top: 425px;
  width: 138.26px;
  height: 32.26px;
  z-index: 23;

  margin: 0 auto;

  font-size: 1.10em;
  font-family: "Roboto";
  color: rgb(254, 254, 254);
  line-height: 1;

  border-width: 1.87px;
  border-color: rgb(254, 254, 254);
  border-style: solid;

  vertical-align: middle;
  text-align: center;
}
.button-label{
  margin:8px auto;
}
.bookNowButton{
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(254, 254, 254);
  font-weight: bold;
  line-height: 1;
  border-width: 1.87px;
  border-color: rgb(254, 254, 254);
  border-style: solid;

  position:fixed;

  margin: 0 auto;

  text-align: center;

  top: 425px;
  width: 138.26px;
  height: 32.26px;
  z-index: 23;

  left: 75%;
  z-index: 23;
}

.roomTitle {
  font-size: 2.75em;
  font-family: "Roboto";
  color: rgb(254, 254, 254);
  line-height: 1;
  text-align: left;
  position: fixed;
  margin-left: 6%;
  top: 18%;
  z-index: 10;
}

.availability {
  font-size: 4em;
  font-family: "Roboto";
  color: rgb(126, 207, 0);
  line-height: 1;
  text-align: left;
  position: absolute;
  margin-top:5%;
  margin-left:6%;
  top: 24%;
  z-index: 10;
}

.in-use {
  font-size: 4em;
  font-family: "Roboto";
  color: rgb(255, 67, 55);
  line-height: 1;
  text-align: left;
  position: absolute;
  margin-top:5%;
  margin-left:6%;
  top: 24%;
  z-index: 10;
}


.currentEventInUse {
  font-size: 36px;
  font-family: "Roboto";
  color: rgb(255, 67, 55);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 44.88px;
  top: 120.868px;
  z-index: 10;
}

.currentEventAvailable {
  font-size: 36px;
  font-family: "Roboto";
  color: rgb(254, 254, 254);
  line-height: 1;
  text-align: left;
  position: absolute;
  left: 43.937px;
  top: 120.868px;
  z-index: 9;
}

.occupiedBanner {
  background-color: rgb(255, 67, 55);
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: -49px;
  width: 100%;
  height: 99px;
  z-index: 6;
}

.unoccupiedBanner {
  background-color: rgb(126, 207, 0);
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: -49px;
  width: 100%;
  height: 99px;
  z-index: 6;
}

.clock {
  font-size: 4.25em;
  font-family: 'Roboto', sans-serif;
  color: rgb(254, 254, 254);
  line-height: 0.5;
  text-align: right;
  -moz-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -webkit-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -ms-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  /*position: absolute;
  left: 565.347px;*/

  width:33%;
  left: 58%;
  position: fixed;
  top: 22%;
  float:left;
  z-index: 8;
}
.date {
  font-size: 1.45em;
  font-family: 'Roboto Slab', serif;
  color: rgb(254, 254, 254);
  line-height: 0.5;
  text-align: right;
  -moz-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -webkit-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -ms-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  /*position: absolute;
  left: 565.347px;*/

  width:50%;
  left:40%;
  position: fixed;
  top: 37%;
  float:center;
  z-index: 8;
}

.book-now-clock {
  font-size: 4.25em;
  font-family: 'Roboto', sans-serif;
  color: rgb(254, 254, 254);
  line-height: 0.5;
  text-align: right;
  -moz-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -webkit-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -ms-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  /*position: absolute;
  left: 565.347px;*/

  width:33%;
  left: 58%;
  position: fixed;
  top: 60%;
  float:left;
  z-index: 9200;
}
.book-now-date {
  font-size: 1.45em;
  font-family: 'Roboto Slab', serif;
  color: rgb(254, 254, 254);
  line-height: 0.5;
  text-align: right;
  -moz-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -webkit-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  -ms-transform: matrix( 1.1064626399212,0,0,1.1064626399212,0,0);
  /*position: absolute;
  left: 565.347px;*/

  width:50%;
  left:40%;
  position: fixed;
  top: 75%;
  float:center;
  z-index: 9200;
}
