.font-size-1 {
  font-size: .9em;
}

.font-size-2 {
  font-size: 1.10em;
}

.font-size-3 {
  font-size: 1.25em;
}

.font-size-4 {
  font-size: 1.45em;
}

.font-size-5 {
  font-size: 2.75em;
}

.font-size-6 {
  font-size: 4.0em;
}

.font-size-7 {
  font-size: 4.25em;
}

.font-size-8 {
  font-size: 16px;
}

.font-size-9 {
  font-size: 36px;
}
.font-size-10
{
  font-size: 1.6em;
}

.font-sans {
  color: rgb(254, 254, 254);
  font-family: 'Roboto', sans-serif;
}

.font-serif {
  color: rgb(254, 254, 254);
  font-family: 'Roboto Slab', serif;
}

.x-button {
  background-image: url('assets/X.svg');
}

.bookNowForm {
  color: black;
}


.detail {}

.scheduleContainer {}

.stayOnTop {
  z-index: 9999;
}

.unoccupied {
  background-color: rgb(126, 207, 0);
}

.occupied {
  background-color: rgb(255, 67, 55);
}

.window, .bookNow, .scheduleEvent {
  background-size: 100% 100%;
  background: url("assets/YMountain.png");
  display: block;
  height: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  width: 800px;
}

.book-now-container-background {
  background-color: black;
  background-size: 800px 480px;
  opacity: 0.502;
  position: absolute;
  left: -113px;
  top: 25%;
  width: 78%;
  height: 71%;
  z-index: 71;
}
.book-now-container {
  color: white;
  position: absolute;
  left: -113px;
  top: 25%;
  width: 78%;
  height: 71%;
  z-index: 72;
}

.book-now-form {
  color: white;
  font-family: "Roboto";
  font-size: 1.10em;
  margin: 20px;
  position: fixed;
  left: 0;
  z-index: 9200;
}

.book-now-start-select
{
  position: fixed;
  top: 70%;
  left: 5%;
}

.book-now-end-select
{
  position: fixed;
  top: 70%;
  left: 35%;
}
select
{
  width:125%;
  height: 30px;
}

.scheduleEvent {
  background-color: black;
  background-size: 800px 480px;
  color: white;
  display: block;
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9000;
}
.agenda-lower-section-wrapper{
  width: 100%;
  background-size: 800px 83%;
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: 100px;
  width: 100%;
  height: 83%;
  z-index: 15;
}

.agenda-view-table {
  left: 60px;
  top: 0;
  z-index: 32;
  position: absolute;
  float:right;
  width: 80%;
}
.agenda-time-reference-sidebar
{
  height:100%;
  left: 0;
  top: 0;
  z-index: 32;
  position: relative;
  float: left;
  width: 10%;
  overflow:hidden;
}
.refHours {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  padding-right: 17px;
  padding-left: 36px;
}
.refHours-hour {

  border-top: 1px solid white;
}

.sidebar-starttime, .sidebar-endtime {
  position:absolute;
  height:25%;
  width: 10%;
}

.sidebar-elipsis
 {
   position:absolute;
   height: 50%;
   width: 10%;
 }

.agenda-view-row {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(255, 255, 255);
  Font: Roboto Regular 16s;
  height: 72px;
  padding: 8px 16px 0 16px;
  position: relative;
  width: 270px;
  height: 108px;
}

.agenda-view-row-unavailable {
  background-color: rgb(0, 0, 0);
  opacity: 0.6;
}

.agenda-view-row-available {
  background-color: rgb(116, 190, 4);
  opacity: 0.2;
}
.agenda-row-section1, .agenda-row-section2 {
  margin: 5px auto;
}
.agenda-row-duration {
  float:left;
  line-height: 2em;
  position: relative;
}
.agenda-row-start-end {
  float: right;
  line-height: 2em;
  position: relative;
}

ul {
  list-style: none;
  /*text-indent: 2em;*/
  overflow-y: scroll;
  height: 346px;
  width: 100%;
  scroll-behavior: smooth;
}
li{
  margin: 5px;
}

@scrollbar-height: 5px;
@scrollbar-padding: 15px;

::-webkit-scrollbar {
   height: ((@scrollbar-padding * 2) + @scrollbar-height);
	background-color: rgba(255,255,255,0);
  padding: 15px;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	/*border: 16px solid rgba(255,255,255,0);*/
  border: 11px solid rgba(255,255,255,0);

	background-clip: padding-box;
}

::-webkit-scrollbar-track {
	/*background-color: #ccc;*/
  /*background-color: #F2F2F2; Dark Button */
  background-color: #666666;
}

::-webkit-scrollbar-thumb {
	/*background-color: #212121;*/
  /*background-color: #002E5D;  Dark Button */
  background-color: #F2F2F2;
	&:hover {
		border: @scrollbar-padding solid rgba(255,255,255,0);
	}
}

.agenda-view-row-container
{
  height: 5.25em;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
}
.refHours-view-row-container
{
  height: 5.25em;
  margin-left: 20px;
  margin-right: 20px;
  padding-bottom: 12px;
  padding-top: 12px;
  text-align: right;
}

.cancelEvent {
  background-size: 800px 480px;
  background: url("assets/YMountain.png");
  color: white;
  display: block;
  height: 480px;
  left: 0;
  position: absolute;
  top: 0;
  width: 800px;
  z-index: 9000;
}

.cancelNowButton {
  display: none;
}

.cancelEvent-message-background {
  background-color: black;
  opacity: 0.4;
  height: 61%;
  left: 0;
  margin: 5%;
  position: fixed;
  top: 25%;
  width: 90%;
  z-index: 9100;
}

.cancelEvent-message-container {
  height: 61%;
  left: 0;
  margin: 5%;
  position: fixed;
  top: 25%;
  width: 90%;
  z-index: 9200;
}

.cancel-p {
  color: white;
  font-family: "Roboto";
  font-size: .9em;
  margin-top: 5%;
  text-align: center;
}

.subpage-title {
  color: white;
  font-family: "Roboto";
  /*font-size: 1.25em;*/
  font-size: 2em;
  font-style: oblique;
  text-align: center;
  top: 15px;
  left: 0;
  position: fixed;
  margin: auto auto auto 26px;
}
.cancel-subpage-title {
  color: white;
  font-family: "Roboto";
  /*font-size: 1.25em;*/
  font-size: 2em;
  font-style: oblique;
  text-align: center;
  /*top: 15px;*/
  left: 0;
  position: fixed;
  margin: 29px;
}

.subpage-title-booking {
  color: white;
  font-family: "Roboto";
  /*font-size: 1.25em;*/
  font-size: 2em;
  font-style: oblique;
  text-align: center;
  /*top: 15px;*/
  left: 0;
  position: fixed;
  margin: 29px auto 29px 80px;
}

.cancellation-title {
  color: white;
  font-family: "Roboto";
  font-size: 1.25em;
  left: 0;
  margin-left: 10%;
  margin-top: 12px;
  position: fixed;
  top: 0;
}

.cancellation-back-arrow {
  position: fixed;
  left: 25px;
  top: 0px;
  margin-top: 29px;
  width: 40px;
  height: 40px;
  z-index: 9800;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('assets/arrow.png')
}

.schedule-back-x {
  position: fixed;
  left: 25px;
  top: 0px;
  margin-top: 29px;
  width: 40px;
  height: 40px;
  z-index: 9800;
  background-repeat: no-repeat;
  background-size: auto;
  background-image: url('assets/arrow.png')
}

.cancel-book-now-button {
  position: fixed;
  left: 78%;
  top: 87%;
  z-index: 9001;
}

.cancel-meeting-title {
  margin: 2% auto 5% auto;
  text-align: center;
  vertical-align: middle;
}

.cancelEvent-no-button {
  align-items: center;
  background-image:url('assets/NO_BUTTON.png');
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: white;
  font-family: "Roboto";
  font-size: 1.10em;
  height: 36px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 128px;
}

.cancelEvent-yes-button {
  align-items: center;
  background-image:url('assets/YES_BUTTON.png');
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: white;
  font-family: "Roboto";
  font-size: 1.10em;
  height: 36px;
  margin: 10px auto;
  position: relative;
  text-align: center;
  vertical-align: middle;
  width: 128px;
}

.calendarIcon {
  background-image: url("assets/CALENDAR.png");
  height: 18px;
  width: 20px;
  float:left;
  margin: 6px auto 6px 4px;
}

.plusIcon {
  background: url("assets/Plus.png") no-repeat top left;
  background-size: contain;
  height: 18px;
  width: 20px;
  float:left;
  margin: 6px auto 6px 8px;
}
.helpButton {
  width: 30px;
  height: 30px;
  margin: 0 20px;
  text-align: center;
  color: white;
  background-color: transparent;
  border-radius: 50%;
  border: 3px solid #fff;
  position:fixed;
  top: 88%;
  float:left;
  z-index:8000;
  left: 0;

  /*box-shadow: 0 0 0 4px transparent;*/
}

.hidden {
  display: none;
}

.active {
  display: block;
}

.buttonBarBackground {
  background-color: rgb(0, 0, 0);
  background: url("assets/buttonBar.png");
  height: 99px;
  left: -45px;
  opacity: 0.4;
  position: absolute;
  top: 405px;
  width: 884px;
  z-index: 7;
}

.buttonWrapper {
  height: 99px;
  left: -45px;
  position: absolute;
  top: 405px;
  width: 100%;
  z-index: 10;
}


.buttonBar {
  height: 99px;
  left: -45px;
  position: absolute;
  top: 405px;
  width: 884px;
  z-index: 100;
}



.book-now-save-button {
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 1.10em;
  height: 32.36px;
  /*left: 406px;*/
  line-height: 1;
  margin: 0 20px 0 0;
  float:right;
  text-align: center;
  position:fixed;
  top: 78%;
  left: 79%;
  vertical-align: middle;
  width: 123px;
  z-index: 9002;
}
.button-label {
  margin: 8px;
  float:right;
}

.bookNowButton, .scheduleButton {
  border-color: rgb(254, 254, 254);
  border-style: solid;
  border-width: 1.87px;
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 1.10em;
  font-weight: bold;
  height: 32.26px;
  line-height: 1;
  margin: 20px 0 20px 15px;
  float:right;
  text-align: center;
  position:relative;
  vertical-align: middle;
  width: auto;
  z-index: 23;
}

.current-time-bar-wrapper {
  position: fixed;
  top:315px;
  left:5%;
  width:90%;
}
.current-time-bar-top {
  position: fixed;
  width:100%;
  height:2px;
  border-bottom: 1px solid rgb(86, 180, 239);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.05) inset, 0px 0px 8px rgba(82, 168, 236, 0.6);
}

.current-time-bar-bottom {
  position: relative;
  width:100%;
  height:auto;
}

.roomTitle {
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 2.75em;
  line-height: 1;
  margin-left: 6%;
  position: fixed;
  text-align: left;
  top: 18%;
  z-index: 10;
}

.availability {
  color: rgb(126, 207, 0);
  font-family: "Roboto";
  font-size: 4em;
  line-height: 1;
  margin-left: 6%;
  margin-top: 5%;
  position: absolute;
  text-align: left;
  top: 24%;
  z-index: 10;
}

.in-use {
  color: rgb(255, 67, 55);
  font-family: "Roboto";
  font-size: 4em;
  line-height: 1;
  margin-left: 6%;
  margin-top: 5%;
  position: absolute;
  text-align: left;
  top: 24%;
  z-index: 10;
}

.currentEventInUse {
  color: rgb(255, 67, 55);
  font-family: "Roboto";
  font-size: 36px;
  left: 44.88px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 120.868px;
  z-index: 10;
}

.currentEventAvailable {
  color: rgb(254, 254, 254);
  font-family: "Roboto";
  font-size: 36px;
  left: 43.937px;
  line-height: 1;
  position: absolute;
  text-align: left;
  top: 120.868px;
  z-index: 9;
}

.eventName {
  position: fixed;
  top:250px;
  left:50px;
}


.unoccupiedBanner {
  background-color: rgb(126, 207, 0);
  height: 99px;
  left: 0px;
  opacity: 0.902;
  position: absolute;
  top: -49px;
  width: 100%;
  z-index: 6;
}
.occupiedBanner {
  background-color: rgb(255, 67, 55);
  height: 99px;
  left: 0px;
  opacity: 0.902;
  position: absolute;
  top: -49px;
  width: 100%;
  z-index: 6;
}

.booking-banner {
  background-size: 800px 83px;
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 99px;
  z-index: 68;
}

.agenda-banner {
  background-size: 800px 83px;
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 99px;
  z-index: 68;
}
.cancel-banner {
  background-color: rgb(126, 207, 0);
  background-size: 800px 83px;
  opacity: 0.902;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 99px;
  z-index: 68;
}


.clock {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 4.5em;
  left: 58%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 28%;
  width: 33%;
  z-index: 8;
}

.date {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.45em;
  left: 40%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 43%;
  width: 50%;
  z-index: 8;
}

.book-now-title-block {
  /*height: 38px;*/
  height: 120px;
  width: auto;
}


/*
.Booking_panel {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 800px;
  height: 480px;
  z-index: 96;
}*/

.book-now-title-input {
  font-size: 30px;
  font-family: "RobotoSlab";
  color: white !important;
  line-height: 1.2;
  text-align: left;
  position: fixed;
  display: block;
  width: auto;
  margin-left: 132px;
  height: inherit;
  z-index: 9999;
  background-color: rgb(254, 254, 254);
  opacity: 0.2;
}

textarea {
  background-color: rgb(102, 102, 102);
  color: white;
  display: block;
  height: inherit;
  line-height: 1.6;
  margin-left: 88px;
  position: fixed;
  text-align: left;
  width: 355px;
  z-index: 9999;
  overflow:hidden;
}

.book-now-end-label {
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 288px;
  top: 306px;
  z-index: 9000;
  width: 100px;
}

.book-now-end-hour {
  /*-webkit-appearance: menulist-button;*/
  height: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 288px;
  top: 355px;
  z-index: 94;
  width: 100px;
}

.book-now-start-hour {
  /*-webkit-appearance: menulist-button;*/
  height: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 50px;
  top: 355px;
  z-index: 94;
  width: 100px;
}

.book-now-start-minutes {
  /*-webkit-appearance: menulist-button;*/
  height: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 130px;
  top: 355px;
  z-index: 94;
  width: 100px;
}

.book-now-start-ampm {
  /*-webkit-appearance: menulist-button;*/
  height: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 200px;
  top: 355px;
  z-index: 94;
  width: 100px;
}

.book-now-end-block {}

.book-now-end-hour {
  /*-webkit-appearance: menulist-button;*/
  height: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 288px;
  top: 355px;
  z-index: 94;
  width: 100px;
}

.book-now-end-minutes {
  /*-webkit-appearance: menulist-button;*/
  height: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 325px;
  top: 355px;
  z-index: 94;
  width: 100px;
}

.book-now-end-ampm {
  /*-webkit-appearance: menulist-button;*/
  height: 50px;
  font-size: 16px;
  font-family: "Roboto";
  color: white !important;
  line-height: 1.125;
  text-align: left;
  position: fixed;
  left: 375px;
  top: 355px;
  z-index: 94;
  width: 100px;
}
.book-now-row-text {
  font-size: 16px;
  font-family: "Roboto";
  color: rgb(254, 254, 254);
  line-height: 1.125;
}

.book-now-start-label {
  /*  -webkit-appearance: menulist-button;*/
  height: 50px;
  text-align: left;
  position: fixed;
  left: 50px;
  top: 310px;
  z-index: 93;
  width: 110px;
}

.book-now-title {
  text-align: right;
  position: relative;
  display: block;
  z-index: 9003;
  top: 38px;
  width: 25%;
  left: 20px;
}

.book-now-clock {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 4.25em;
  left: 60%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 60%;
  width: 33%;
  z-index: 9200;
}

.book-now-clock-small {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: left;
  font-family: 'Roboto', sans-serif;
  font-size: 2.25em;
  left: 62%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 37px;
  width: 33%;
  z-index: 9200;
}

.book-now-date {
  -moz-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -ms-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  -webkit-transform: matrix( 1.1064626399212, 0, 0, 1.1064626399212, 0, 0);
  color: rgb(254, 254, 254);
  float: center;
  font-family: 'Roboto Slab', serif;
  font-size: 1.45em;
  left: 42%;
  line-height: 0.5;
  position: fixed;
  text-align: right;
  top: 75%;
  width: 50%;
  z-index: 9200;
}
