<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
<div class="window">
  <div class="unoccupiedBanner" *ngIf="unoccupied" (click)="reset()"></div>
  <div class="occupiedBanner" *ngIf="occupied" (click)="reset()"></div>
  <div class="roomTitle">
    {{resource.name}}
  </div>
  <div class="availability" *ngIf="unoccupied">
    AVAILABLE
  </div>
  <div class="in-use" *ngIf="occupied">
    IN USE
  </div>
  <div class="eventName" *ngIf="currentEvent">

  </div>

  <div class="clock">
    {{ date | amDateFormat:'h:mm'}}
  </div>
  <div class="date">
    {{date | amDateFormat:'dddd, MMM DD'}}
  </div>
  <div class="buttonBar">
    <div class="scheduleButton" (click)="scheduleEvent()"><div class="button-label">SCHEDULE</div></div>
    <div class="bookNowButton" (click)="bookNow()"><div class="button-label">BOOK NOW</div></div>
    <div class="cancelNowButton" (click)="cancelEvent(event)"><div class="button-label">CANCEL</div></div>
  </div>


  <!--<div class="scheduleContainer">
    <ul class="schedule">
      <li *ngFor="let event of events" [class.selected]="event === selectedEvent" (click)="onSelect(event)">
        {{event.id}} - {{event.name}} - {{event.start}}
      </li>
    </ul>
    <div class="detail" *ngIf="selectedEvent">
      <h2>{{selectedEvent.name}}</h2>
      <div>
        <label>id: </label>{{selectedEvent.id}} <br />
        <label>name: </label>{{selectedEvent.name}}<br />
        <label>start: </label>{{selectedEvent.start}}<br />
        <label>end: </label>{{selectedEvent.end}}<br />
      </div>
    </div>


  </div>-->

</div>
<div class="bookNow" *ngIf="bookEvent">
  <div class="unoccupiedBanner" *ngIf="unoccupied" (click)="reset()">
    <div class="cancellation-title">
      Booking {{resource.name}} for {{date | amDateFormat:'dddd, MMM DD'}}
    </div>
  </div>
  <div class="occupiedBanner" *ngIf="occupied" (click)="reset()">
    <div class="cancellation-title">
      Booking {{resource.name}} for {{date | amDateFormat:'dddd, MMM DD'}}
    </div>
  </div>
  <div class="book-now-container">
    <div class="book-now-form">
      <form id="bookNowForm" class="bookNowForm">
        Name: <input id="newMeetingName" placeholder="Ad-hoc Meeting" />
        <br  />
        Start Time: 
        <input id="newMeetingStart" required ngui-datetime-picker time-only=true minute-step=15 date-format="h:mm" parse-format="h:mm" />
        End Time:<input id="newMeetingEnd" required ngui-datetime-picker time-only=true minute-step=15 date-format="h:mm" parse-format="h:mm" />
      </form>

    </div>
  </div>
  <div class="book-now-clock">
    {{ date | amDateFormat:'h:mm'}}
  </div>
  <div class="book-now-date">
    {{date | amDateFormat:'dddd, MMM DD'}}
  </div>
</div>


<div class="scheduleEvent" *ngIf="scheduleNow">
  Schedule it!
</div>
<div class="cancelEvent" *ngIf="cancellation">
  <div class="unoccupiedBanner" *ngIf="unoccupied" (click)="reset()">
    <div class="cancellation-title">
      Canceling {{resource.name}} for {{date | amDateFormat:'dddd, MMM DD'}}
    </div>
  </div>
  <div class="occupiedBanner" *ngIf="occupied" (click)="reset()">
    <div class="cancellation-title">
      Canceling {{resource.name}} for {{date | amDateFormat:'dddd, MMM DD'}}
    </div>
  </div>
  <div class="cancelEvent-message">
    <div class="cancel-p">
      Are you sure you want to cancel this meeting?
    </div>
    <div class="cancel-meeting-title">
      {{selectedEvent.subject}}
    </div>
    <div (click)="cancelPage_no()" class="cancelEvent-no-button">
      NO
    </div>
    <div (click)="cancelPage_yes(selectedEvent)" class="cancelEvent-yes-button">
      YES
    </div>
  </div>
</div>
